* {
    padding: 0;
    font-family: 'Rubik', sans-serif;
    font-size: 20px;
}

body {
    background-image: url(../image/bg.png);
    background-size: auto;
    background-attachment: fixed;
}

#first-para {
    font-size: 32px;
    margin: 30px;
}
#first-para span{
    font-style: italic;
    font-weight: bolder;
    font-size: 32px;
}
#whale {
    margin: auto;
    padding: 30px;
}
li {
    margin-left: 40px;
}
ol li {
    margin-left: 60px;
}
h2 {
    font-weight: bold;
}
.card, #box{
    padding: 15px;
    margin: 30px 30px;
    transition: .5s;
    background-color: #fff;
    box-shadow: 6px 4px #ffa952;
}
.card h2 {
    letter-spacing: 1px;
    margin-top: 20px;
    text-align: center;
}
.card .card-img-top {
    width: 100%;
    height: 15vw;
    object-fit: cover;
}

#box a {
    text-decoration: none;
    color: black;
    font-weight: bolder;
    transition: .5s;
}
#box a:hover {
    color: #ffa952;
}
.boxnav2 {
    display: flex;
    margin: 20px 60px auto;
    flex-direction: row;
    flex-flow: wrap;
}
#box{
    margin: 30px 33px;
    transition: .5s;
}
